.tabsdemoStaticTabs {
    /*
     * Animation styles
     */ }
.tabsdemoStaticTabs #tab1-content {
    background-color: #3F51B5; }
.tabsdemoStaticTabs #tab2-content {
    background-color: #673AB7; }
.tabsdemoStaticTabs #tab3-content {
    background-color: #00796B; }
.tabsdemoStaticTabs .tabpanel-container {
    display: block;
    position: relative;
    background: white;
    border: 0px solid black;
    height: 300px;
    overflow: hidden; }
.tabsdemoStaticTabs [role="tabpanel"] {
    color: white;
    width: 100%;
    height: 100%;
    -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    position: absolute; }
.tabsdemoStaticTabs [role="tabpanel"].ng-leave.ng-leave-active, .tabsdemoStaticTabs [role="tabpanel"].ng-enter {
    top: -300px; }
.tabsdemoStaticTabs [role="tabpanel"].ng-leave, .tabsdemoStaticTabs [role="tabpanel"].ng-enter.ng-enter-active {
    top: 0; }
.tabsdemoStaticTabs [role="tabpanel"].ng-leave {
    z-index: 100; }
.tabsdemoStaticTabs .tabpanel-container [role="tabpanel"] {
    padding: 20px; }
.tabsdemoStaticTabs .after-tabs-area {
    padding: 25px; }
.tabsdemoStaticTabs .after-tabs-area > span {
    margin-top: 25px;
    padding-right: 15px;
    vertical-align: middle;
    line-height: 30px;
    height: 35px; }
.tabsdemoStaticTabs .after-tabs-area > md-checkbox {
    margin-top: 26px;
    margin-left: 0px; }
