div.tabsdemoStaticTabs
  md-tabs[md-selected="data.selectedIndex"]
    md-tab#tab1[aria-controls="tab1-content"]
      |  Item One 
    md-tab#tab2[aria-controls="tab2-content" ng-disabled="data.secondLocked"]
      |  {{data.secondLabel}} 
    md-tab#tab3[aria-controls="tab3-content"]
      |  Item Three 
  ng-switch.tabpanel-container[on="data.selectedIndex"]
    #tab1-content[role="tabpanel" aria-labelledby="tab1" ng-switch-when="0" md-swipe-left="next()" md-swipe-right="previous()"]
      |  View for Item #1
      br
      |  data.selectedIndex = 0 
    #tab2-content[role="tabpanel" aria-labelledby="tab2" ng-switch-when="1" md-swipe-left="next()" md-swipe-right="previous()"]
      |  View for {{data.secondLabel}}
      br
      |  data.selectedIndex = 1 
    #tab3-content[role="tabpanel" aria-labelledby="tab3" ng-switch-when="2" md-swipe-left="next()" md-swipe-right="previous()"]
      |  View for Item #3
      br
      |  data.selectedIndex = 2 
  .after-tabs-area[layout="row" layout-sm="column" layout-margin layout-align="left center"]
    md-text-float[type="number" label="Selected Index" ng-model="data.selectedIndex"]
    div[flex]
    span
      | Item Two: 
    md-checkbox[ng-model="data.secondLocked" aria-label="Disabled"]
      |  Disabled 
