doctype html
html.no-js[ng-app="app"]
  head
    meta[charset="utf-8"]
    title
      | Koders
    meta[name="description" content="ideas"]
    meta[name="viewport" content="width=device-width"]

    /! build:css({.tmp,src}) styles/vendor.css
    /! bower:css
    link rel='stylesheet' href='../bower_components/angular-material/angular-material.css'
    link rel='stylesheet' href='../bower_components/toastr/toastr.css'
    /! endbower
    /! endbuild

    div style="display: none"
        
    /! build:css styles/app.css
    / inject:css
    link rel="stylesheet" href="./app/angular/home/home.css"
    / endinject
    /! endbuild
    div style="display: none"
    /! build:js scripts/modernizr.js
    /! endbuild
    base href="/"
        
  body
    /![if lt IE 10]
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    /![endif]
        
    div[ui-view]
    script
      |  (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]= function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date; e=o.createElement(i);r=o.getElementsByTagName(i)[0]; e.src='//www.google-analytics.com/analytics.js'; r.parentNode.insertBefore(e,r)}(window,document,'script','ga')); ga('create','UA-XXXXX-X');ga('send','pageview');

    /! build:js scripts/vendor.js
    / bower:js
    script src='../bower_components/jquery/dist/jquery.js'
    script src='../bower_components/modernizr/modernizr.js'
    script src='../bower_components/angular/angular.js'
    script src='../bower_components/angular-animate/angular-animate.js'
    script src='../bower_components/angular-cookies/angular-cookies.js'
    script src='../bower_components/angular-touch/angular-touch.js'
    script src='../bower_components/angular-sanitize/angular-sanitize.js'
    script src='../bower_components/lodash/dist/lodash.compat.js'
    script src='../bower_components/restangular/dist/restangular.js'
    script src='../bower_components/angular-ui-router/release/angular-ui-router.js'
    script src='../bower_components/angular-gettext/dist/angular-gettext.js'
    script src='../bower_components/angular-devise/lib/devise.js'
    script src='../bower_components/angular-aria/angular-aria.js'
    script src='../bower_components/hammerjs/hammer.js'
    script src='../bower_components/angular-material/angular-material.js'
    script src='../bower_components/angular-messages/angular-messages.js'
    script src='../bower_components/toastr/toastr.js'
    script src='../bower_components/moment/moment.js'
    script src='../bower_components/angular-resource/angular-resource.js'
    script src='../bower_components/extras.angular.plus/ngplus-overlay.js'
    / endbower
    /! endbuild

    div style="display: none"
        
    /! build:js scripts/app.js
    / inject:js
    script type="text/javascript" src="./app/angular/blocks/router/router.module.js"
    script type="text/javascript" src="./app/angular/blocks/router/router-helper.provider.js"
    script type="text/javascript" src="./app/angular/blocks/logger/logger.module.js"
    script type="text/javascript" src="./app/angular/blocks/logger/logger.js"
    script type="text/javascript" src="./app/angular/blocks/exception/exception.module.js"
    script type="text/javascript" src="./app/angular/blocks/exception/exception.js"
    script type="text/javascript" src="./app/angular/blocks/exception/exception-handler.provider.js"
    script type="text/javascript" src="./app/angular/testroute/testroute.module.js"
    script type="text/javascript" src="./app/angular/testroute/testroute.router.js"
    script type="text/javascript" src="./app/angular/testroute/testroute.controller.js"
    script type="text/javascript" src="./app/angular/register/register.module.js"
    script type="text/javascript" src="./app/angular/layout/layout.module.js"
    script type="text/javascript" src="./app/angular/home/home.module.js"
    script type="text/javascript" src="./app/angular/home/home.router.js"
    script type="text/javascript" src="./app/angular/home/home.controller.js"
    script type="text/javascript" src="./app/angular/core/core.module.js"
    script type="text/javascript" src="./app/angular/core/constants.js"
    script type="text/javascript" src="./app/angular/core/config.js"
    script type="text/javascript" src="./app/angular/connexion/connexion.module.js"
    script type="text/javascript" src="./app/angular/app.module.js"
    / endinject


    /! inject:partials
    /! angular templates will be automaticaly converted in js and inserted here
    /! endinject
    /! endbuild
 
